<a href="https://colab.research.google.com/github/K-Kamonrat/DPDM/blob/master/Association_Rules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os
path =  '/content/drive/My Drive/DWDM_material'

In [5]:
reduced_marketbasket = os.path.join(path, 'reduced_marketbasket.csv')

In [6]:
reduced_marketbasket_df = pd.read_csv(reduced_marketbasket,encoding='latin1')

In [7]:
reduced_marketbasket_df

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

#ดูว่าแต่ละใบเสร็จมีสินค้ากี่ชิ้น

In [8]:
Inv = reduced_marketbasket_df.groupby('InvoiceNo').sum()
Inv

           Quantity  UnitPrice  CustomerID
InvoiceNo
536365           40      27.37    124950.0
536366           12       3.70     35700.0
536367           83      58.24    156564.0
536368           15      19.10     52188.0
536369            3       5.95     13047.0
...             ...        ...         ...
C581484      -80995       2.08     16446.0
C581490         -23       2.78     28794.0
C581499          -1     224.69     15498.0
C581568          -5      10.95     15311.0
C581569          -6       2.50     34630.0

[25900 rows x 3 columns]

In [9]:
transacs = reduced_marketbasket_df.groupby('InvoiceNo')['StockCode'].apply(list) #reduced_marketbasket_df = data
transacs

InvoiceNo
536365     [85123A, 71053, 84406B, 84029G, 84029E, 22752,...
536366                                        [22633, 22632]
536367     [84879, 22745, 22748, 22749, 22310, 84969, 226...
536368                          [22960, 22913, 22912, 22914]
536369                                               [21756]
                                 ...
C581484                                              [23843]
C581490                                       [22178, 23144]
C581499                                                  [M]
C581568                                              [21258]
C581569                                       [84978, 20979]
Name: StockCode, Length: 25900, dtype: object

In [14]:
! pip install apyori #import libraly ที่ไม่มีใน colab ต้อง install ทุกครั้งที่ทำใหม่

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)

In [15]:
from apyori import apriori

In [17]:
out = list(apriori(transacs, min_support = 0.03, min_confidence = 0.1))
out

[RelationRecord(items=frozenset({'22386', '85099B'}), support=0.03216216216216216, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22386'}), items_add=frozenset({'85099B'}), confidence=0.6766856214459789, lift=8.20897311262335), OrderedStatistic(items_base=frozenset({'85099B'}), items_add=frozenset({'22386'}), confidence=0.39016393442622943, lift=8.20897311262335)]),
 RelationRecord(items=frozenset({'22697', '22699'}), support=0.03027027027027027, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.7417218543046358, lift=17.1523178807947), OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.7, lift=17.1523178807947)])]

In [18]:
out[0]

RelationRecord(items=frozenset({'22386', '85099B'}), support=0.03216216216216216, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22386'}), items_add=frozenset({'85099B'}), confidence=0.6766856214459789, lift=8.20897311262335), OrderedStatistic(items_base=frozenset({'85099B'}), items_add=frozenset({'22386'}), confidence=0.39016393442622943, lift=8.20897311262335)])

In [32]:
out_1 = list(apriori(transacs, min_support = 0.02, min_confidence = 0.8))
out_1

[RelationRecord(items=frozenset({'22697', '22698'}), support=0.024864864864864864, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22698'}), items_add=frozenset({'22697'}), confidence=0.8029925187032418, lift=19.67597562385427)]),
 RelationRecord(items=frozenset({'22697', '22699', '22698'}), support=0.021196911196911198, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22697', '22698'}), items_add=frozenset({'22699'}), confidence=0.8524844720496895, lift=19.71370341614907), OrderedStatistic(items_base=frozenset({'22699', '22698'}), items_add=frozenset({'22697'}), confidence=0.8941368078175896, lift=21.909312509437626)])]

## Quiz หา k - itemset ที่มีความน่าสนใจ (โดยพิจารณาลูกค้าเป็นรายคน) พร้อมทั้งอธิบายว่าน่าสนใจยังไง

In [19]:
Customer= reduced_marketbasket_df.groupby('CustomerID')['StockCode'].apply(list) #reduced_marketbasket_df = data
Customer

CustomerID
12346.0                                       [23166, 23166]
12347.0    [85116, 22375, 71477, 22492, 22771, 22772, 227...
12348.0    [84992, 22951, 84991, 84991, 21213, 21213, 226...
12349.0    [23112, 23460, 21564, 21411, 21563, 22131, 221...
12350.0    [21908, 22412, 79066K, 79191C, 22348, 84086C, ...
                                 ...
18280.0    [82484, 22180, 22467, 22725, 22727, 22495, 223...
18281.0    [22037, 22716, 22028, 23007, 23008, 23209, 22467]
18282.0    [21270, 23187, 23295, 22089, 21108, 21109, 224...
18283.0    [22356, 20726, 22384, 22386, 20717, 20718, 850...
18287.0    [22755, 22754, 22753, 22756, 22758, 22757, 227...
Name: StockCode, Length: 4372, dtype: object

In [66]:
out_Customer = list(apriori(Customer, min_support = 0.03, min_confidence = 0.95))
out_Customer

[RelationRecord(items=frozenset({'22697', '22699', '22698'}), support=0.060155535224153706, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22699', '22698'}), items_add=frozenset({'22697'}), confidence=0.9633699633699634, lift=10.799624307316614)]),
 RelationRecord(items=frozenset({'22697', '23170', '22698'}), support=0.03133577310155535, ordered_statistics=[OrderedStatistic(items_base=frozenset({'23170', '22698'}), items_add=frozenset({'22697'}), confidence=0.9785714285714285, lift=10.97003663003663)]),
 RelationRecord(items=frozenset({'23171', '22697', '22698'}), support=0.03202195791399817, ordered_statistics=[OrderedStatistic(items_base=frozenset({'23171', '22698'}), items_add=frozenset({'22697'}), confidence=0.9859154929577466, lift=11.052365474900688)]),
 RelationRecord(items=frozenset({'22697', '23173', '22698'}), support=0.030649588289112534, ordered_statistics=[OrderedStatistic(items_base=frozenset({'23173', '22698'}), items_add=frozenset({'22697'}), confidence=0.9852941176470588, lift=11.045399698340873)]),
 RelationRecord(items=frozenset({'23245', '22697', '22698'}), support=0.030878316559926806, ordered_statistics=[OrderedStatistic(items_base=frozenset({'23245', '22698'}), items_add=frozenset({'22697'}), confidence=0.9782608695652174, lift=10.966555183946488)]),
 RelationRecord(items=frozenset({'22697', '22699', '23170'}), support=0.03545288197621226, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22697', '23170'}), items_add=frozenset({'22699'}), confidence=0.9810126582278482, lift=10.044466842557734)]),
 RelationRecord(items=frozenset({'23171', '22697', '22699'}), support=0.03385178408051235, ordered_statistics=[OrderedStatistic(items_base=frozenset({'23171', '22699'}), items_add=frozenset({'22697'}), confidence=0.961038961038961, lift=10.773493173493172)]),
 RelationRecord(items=frozenset({'22697', '23173', '22699'}), support=0.03453796889295517, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22697', '23173'}), items_add=frozenset({'22699'}), confidence=0.9617834394904459, lift=9.847581258670326)]),
 RelationRecord(items=frozenset({'22697', '23175', '22699'}), support=0.030878316559926806, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22697', '23175'}), items_add=frozenset({'22699'}), confidence=0.9507042253521126, lift=9.734142560279711)]),
 RelationRecord(items=frozenset({'23171', '22697', '23172'}), support=0.03019213174748399, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22697', '23172'}), items_add=frozenset({'23171'}), confidence=0.9635036496350365, lift=21.60224592925323)]),
 RelationRecord(items=frozenset({'23170', '22699', '22698'}), support=0.03156450137236962, ordered_statistics=[OrderedStatistic(items_base=frozenset({'23170', '22698'}), items_add=frozenset({'22699'}), confidence=0.9857142857142855, lift=10.092606222816995)]),
 RelationRecord(items=frozenset({'23173', '22699', '22698'}), support=0.030649588289112534, ordered_statistics=[OrderedStatistic(items_base=frozenset({'23173', '22698'}), items_add=frozenset({'22699'}), confidence=0.9852941176470588, lift=10.088304174128668)]),
 RelationRecord(items=frozenset({'23171', '23170', '22699'}), support=0.03385178408051235, ordered_statistics=[OrderedStatistic(items_base=frozenset({'23171', '22699'}), items_add=frozenset({'23170'}), confidence=0.961038961038961, lift=18.674054834054836)]),
 RelationRecord(items=frozenset({'23171', '23170', '23172'}), support=0.03133577310155535, ordered_statistics=[OrderedStatistic(items_base=frozenset({'23170', '23172'}), items_add=frozenset({'23171'}), confidence=0.9580419580419581, lift=21.479792002868926)]),
 RelationRecord(items=frozenset({'22697', '22698', '22699', '22423'}), support=0.05169258920402562, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22698', '22699', '22423'}), items_add=frozenset({'22697'}), confidence=0.9658119658119659, lift=10.826999780845934)]),
 RelationRecord(items=frozenset({'22697', '22699', '23170', '22423'}), support=0.03110704483074108, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22697', '23170', '22423'}), items_add=frozenset({'22699'}), confidence=0.9855072463768116, lift=10.09048637273869)]),
 RelationRecord(items=frozenset({'22697', '23173', '22699', '22423'}), support=0.03133577310155535, ordered_statistics=[OrderedStatistic(items_base=frozenset({'22697', '23173', '22423'}), items_add=frozenset({'22699'}), confidence=0.9580419580419581, lift=9.809272694518597)]),
 RelationRecord(items=frozenset({'22697', '22699', '23170', '22698'}), support=0.030878316559926806, ordered_statistics=[OrderedStatistic(items_base=frozenset({'23170', '22698'}), items_add=frozenset({'22697', '22699'}), confidence=0.9642857142857142, lift=13.011904761904761), OrderedStatistic(items_base=frozenset({'22697', '23170', '22698'}), items_add=frozenset({'22699'}), confidence=0.9854014598540146, lift=10.089403237662182), OrderedStatistic(items_base=frozenset({'23170', '22699', '22698'}), items_add=frozenset({'22697'}), confidence=0.9782608695652174, lift=10.966555183946488)]),
 RelationRecord(items=frozenset({'22697', '23173', '22699', '22698'}), support=0.030420860018298263, ordered_statistics=[OrderedStatistic(items_base=frozenset({'23173', '22698'}), items_add=frozenset({'22697', '22699'}), confidence=0.9779411764705882, lift=13.19616920842411), OrderedStatistic(items_base=frozenset({'22697', '23173', '22698'}), items_add=frozenset({'22699'}), confidence=0.9925373134328359, lift=10.162466356740888), OrderedStatistic(items_base=frozenset({'23173', '22699', '22698'}), items_add=frozenset({'22697'}), confidence=0.9925373134328359, lift=11.126597780329124)]),
 RelationRecord(items=frozenset({'23171', '22697', '22699', '23170'}), support=0.032708142726440986, ordered_statistics=[OrderedStatistic(items_base=frozenset({'23171', '22697', '22699'}), items_add=frozenset({'23170'}), confidence=0.9662162162162162, lift=18.774654654654658), OrderedStatistic(items_base=frozenset({'23171', '22697', '23170'}), items_add=frozenset({'22699'}), confidence=0.986206896551724, lift=10.097650004037792), OrderedStatistic(items_base=frozenset({'23171', '23170', '22699'}), items_add=frozenset({'22697'}), confidence=0.9662162162162162, lift=10.831531531531532)])]

# # กฎนี้น่าสนใจ เพราะ 
เมื่อลูกค้า ซื้อสินค้า 2 ชิ้น แล้วมักจะซื้ออีกชิ้นนึงตามมา ด้วย confidence ที่สูงมาก เอาไว้จัดโปรโมชั่นว่า ถ้าซื้อ2คู่แรก จะแถมคู่หลัง เพื่อเพิ่มยอดขาย และ lift > 1

In [ ]:
เม