<a href="https://colab.research.google.com/github/K-Kamonrat/DPDM/blob/master/pandas_and_data_preprocessing101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![main.png]()

In [2]:
import pandas

In [3]:
import pandas as pd

In [4]:

from google.colab import drive

In [5]:
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import os
path =  '/content/drive/My Drive/DWDM_material'

In [7]:
search_click = os.path.join(path, 'search_click.csv')
w_restaurant = os.path.join(path, 'w_restaurant.csv')

In [8]:
search_click_df = pd.read_csv(search_click)
w_restaurant_df = pd.read_csv(w_restaurant)

In [9]:
search_click_df.head()

  click_timestamp                             search_id  ...  time_diff_nanos   ads
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1  ...     2.222400e+15  True
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e  ...     4.608380e+14  True
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224  ...     2.581490e+15  True
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b  ...     1.404580e+15  True
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639  ...     9.333590e+14  True

[5 rows x 6 columns]

In [10]:
w_restaurant_df.head()

   id              name  domain_id  ...  hotel_restaurant pet_friendly delivery
0   2  นครินทร์ทันตกรรม          2  ...               NaN          NaN      NaN
1   4      Corner House          1  ...               NaN          NaN      NaN
2   5    วัดโลกยสุธาราม          4  ...               NaN          NaN      NaN
3   6    นันท์คาราโอเกะ          1  ...               NaN          NaN      NaN
4   7       Buono Caffe          1  ...               NaN          NaN      NaN

[5 rows x 32 columns]

In [11]:
search_click_df.shape #.shape เอาไว้เช็ครูปร่างของตาราง จะแสดงค่า (dataจำนวนแถว , featureจำนวนคอลัม)

(1048575, 6)

In [12]:
w_restaurant_df.shape

(246847, 32)

In [13]:
search_click_df.shape[0]

1048575

#0.Point to data in the table

##normal index

In [14]:
search_click_df['search_id'] #ใส่ชื่อคอลัมม์เลย

0          5c004472-5ecc-4159-9698-9f329b8e26e1
1          5f34eca0-c04e-4c10-b600-54aa447dbd8e
2          8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3          1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4          6bc75e0d-fc65-471e-9926-ff6be6708639
                           ...
1048570    99aab616-6fc5-4fbf-994b-4aebee7bb360
1048571    d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a
1048572    4c1de7fe-300e-41aa-9d01-914344fc3753
1048573    2ec0ddec-e450-4b98-9779-42b77aa7eda5
1048574    5741d9cf-b9f1-441d-aa83-d2b0179bf874
Name: search_id, Length: 1048575, dtype: object

In [15]:
search_click_df['search_id'][0]  #ด้านแนวตั้งใช้ชื่อตาราง ด้านแนวนอนใช้ตะเลขระบะตำแหน่งของdata

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [16]:
w_restaurant_df[['name','city_name','weighted_average_rating']]

                                        name  ... weighted_average_rating
0                           นครินทร์ทันตกรรม  ...                5.000000
1                               Corner House  ...                2.000000
2                             วัดโลกยสุธาราม  ...                4.000000
3                             นันท์คาราโอเกะ  ...                0.000000
4                                Buono Caffe  ...                3.738462
...                                      ...  ...                     ...
246842                            Sushi Tama  ...                3.663522
246843                     สะบายดี คาราโอเกะ  ...                0.000000
246844                      สเต็กแม่&กาแฟลูก  ...                4.000000
246845                              Mom Made  ...                5.000000
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...                3.000000

[246847 rows x 3 columns]

##.iloc
* มอง data เป็น matrix

In [17]:
search_click_df.iloc[0,1]

'5c004472-5ecc-4159-9698-9f329b8e26e1'

In [18]:
search_click_df.iloc[:10,:2] #matrix sclicing

  click_timestamp                             search_id
0         11:38.9  5c004472-5ecc-4159-9698-9f329b8e26e1
1         30:51.3  5f34eca0-c04e-4c10-b600-54aa447dbd8e
2         32:09.6  8dc6d1f0-11f1-4239-9dd2-5c1674c81224
3         00:59.8  1a5810e9-3d1f-44b9-9a2e-26ede21c524b
4         23:36.8  6bc75e0d-fc65-471e-9926-ff6be6708639
5         48:16.7  92ea02ba-2c89-4efd-973c-e23526c531de
6         39:18.4  79d61918-fb3e-4181-99b6-7a7abddfcdb1
7         33:39.0  7f8b2b57-dea1-4fe1-84c8-5a7d63750e47
8         07:48.3  3d9217bb-3eae-42b5-8cf3-a756efae2cfa
9         41:25.4  a2cb0d41-6e1f-4169-9140-cb671fbb41dc

#Missing value

In [19]:
search_click_df.isnull() #.isnull เอาไว้เช็คว่ามี missing value รึป่าว >> True หมายว่าว่า ช่องนั้นเป็น missing value ถ้าไม่ใช่ จะขึ้นว่า False

         click_timestamp  search_id  ...  time_diff_nanos    ads
0                  False      False  ...            False  False
1                  False      False  ...            False  False
2                  False      False  ...            False  False
3                  False      False  ...            False  False
4                  False      False  ...            False  False
...                  ...        ...  ...              ...    ...
1048570            False      False  ...            False  False
1048571            False      False  ...            False  False
1048572            False      False  ...            False  False
1048573            False      False  ...            False  False
1048574            False      False  ...            False  False

[1048575 rows x 6 columns]

In [20]:
search_click_df.isnull().any()  #.any คือการสรุปรวมความจริงทั้งหมดในฝั่งคอลัมม์   เอาข้อมูลในแต่ละข้อลัมล์มา or(logic) กันทั้งหมด

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [21]:
search_click_df.isnull().any().any() #เอาความจริงที่เหลืออยู่คอลัมม์เดียวมา or กันทั้งหมด จะได้รู้ความจริงทั้งตาราง

True

In [22]:
search_click_df.isnull().all() #.all คือการสรุปรวมความจริงทั้งหมดในฝั่งคอลัมม์   เอาข้อมูลในแต่ละข้อลัมล์มา and(logic) กันทั้งหมด

click_timestamp     False
search_id           False
business_id         False
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

#Handdle Missing value 1

* delete ข้อมูลนั้นไปเลย

In [23]:
search_click_df_nm =search_click_df.dropna()

In [24]:
search_click_df_nm.isnull().any().any()

False

In [25]:
print(search_click_df.shape)
print(search_click_df_nm.shape)

(1048575, 6)
(1048206, 6)

In [26]:
print(search_click_df.shape[0]-search_click_df_nm.shape[0]) #หาว่าข้อมูลMissingที่ลบไปมีกี่ตัว

369

#Exercise1 ตรวจสอบว่ากานรลบข้อมูล missing อกจากตาราง w_restarant จะทำให้ข้อมูลลดลงกี่ %

In [27]:
w_restaurant_df_nm = w_restaurant_df.dropna()

In [28]:
w_restaurant_df_nm.isnull().any().any()

False

In [29]:
print(w_restaurant_df.shape)
print(w_restaurant_df_nm.shape)

(246847, 32)
(4, 32)

In [30]:
 print(w_restaurant_df.shape[0]-w_restaurant_df_nm.shape[0]) #จำนวนข้อมูลที่หายไป

246843

In [31]:
((w_restaurant_df.shape[0]-w_restaurant_df_nm.shape[0])/w_restaurant_df.shape[0])*100 #ของจำนวนข้อมูลที่หายไป

99.99837956304918

##Method 1.5

* dropna หรือ ลบ เฉพาะข้อมูลที่เราต้องการ เช่น อยากรู้ราคาเฉลี่ยของร้านค้าเป็นเท่าไหร่ ก็เลือกเฉพาะคอลัมม์ที่เกี่ยวข้อง

In [32]:
w_restaurant_df_nm.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                    False
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks        False
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                False
avg_price                  False
parking                    False
credit_card_accepted       False
good_for_groups            False
good_for_kids              False
bookable                   False
best_of_wongnai            False
wifi                       False
number_of_seats            False
music_venue                False
hotel_restaurant           False
pet_friendly               False
delivery                   False
dtype: bool

In [33]:
w_restaurant_df.dropna(subset=['id','name','avg_price']).shape

(4572, 32)

In [34]:
w_rest_dropped_avgprice=w_restaurant_df.dropna(subset=['id','name','avg_price'])

In [35]:
w_rest_dropped_avgprice.head()

      id                         name  ...  pet_friendly  delivery
11    27              แพอาหารธาราบุรี  ...           NaN       NaN
67   123                  เล็กกุ้งเผา  ...           NaN       NaN
91   175                 ใต้ต้นมะม่วง  ...           NaN       NaN
129  262  Oniku Shabushabu & Yakiniku  ...           NaN       1.0
134  271                     Cafe Cha  ...           NaN       NaN

[5 rows x 32 columns]

In [36]:
w_restaurant_df.dropna(subset=['id','name','avg_price'])['avg_price'].mean()

327.44728783902013

##Method 2 (Replace with reasonalable value)

### we are replacing missing value in the number of chains with 0
* number of chain คืออะไร ไปเปิดดูใน matadata == จำนวนสาขาของร้าน

In [56]:
w_restaurant_df[['number_of_chains']] = w_restaurant_df[['number_of_chains']].fillna(0)

In [57]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

## Method 2.1 (replace with unknown value) 
* ใส่ค่าที่คิดว่าคนไม่น่ากรอกสิ่งเหล่านี้ลงไป เพื่อไม่ให้มี missing แต่ไม่ทำให้ค่าทางสถิติของข้อมูลเปลี่ยนไป

##Method 2.2 (replace with mean)

## Method 3 (replace with mean)

In [39]:
new_table = w_restaurant_df[['name','city_name','avg_price']]
new_table

                                        name  ... avg_price
0                           นครินทร์ทันตกรรม  ...       NaN
1                               Corner House  ...       NaN
2                             วัดโลกยสุธาราม  ...       NaN
3                             นันท์คาราโอเกะ  ...       NaN
4                                Buono Caffe  ...       NaN
...                                      ...  ...       ...
246842                            Sushi Tama  ...       NaN
246843                     สะบายดี คาราโอเกะ  ...       NaN
246844                      สเต็กแม่&กาแฟลูก  ...       NaN
246845                              Mom Made  ...       NaN
246846  ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง  ...       NaN

[246847 rows x 3 columns]

#[PD] Select data

In [40]:
selected_list = new_table['city_name']=='Bangkok Metropolitan Region'
selected_list

0         False
1          True
2         False
3          True
4          True
          ...
246842     True
246843     True
246844     True
246845    False
246846    False
Name: city_name, Length: 246847, dtype: bool

In [41]:
new_table[selected_list].head()

              name                    city_name  avg_price
1     Corner House  Bangkok Metropolitan Region        NaN
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4      Buono Caffe  Bangkok Metropolitan Region        NaN
7         Sazanami  Bangkok Metropolitan Region        NaN
10  Rotee Me Chabu  Bangkok Metropolitan Region        NaN

หาราคาเฉลี่ยของร้านในจังหวัดกรุงเทพ

In [58]:
new_table[new_table['city_name']=='Bangkok Metropolitan Region'].dropna()['avg_price'].mean()

392.5854715094968

1.สร้างตารางใหม่ที่เลือกมาเฉพาะใน กทม.

In [59]:
bkk_table = new_table[new_table['city_name']=='Bangkok Metropolitan Region']
bkk_table.head()

              name                    city_name  avg_price
1     Corner House  Bangkok Metropolitan Region        NaN
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region        NaN
4      Buono Caffe  Bangkok Metropolitan Region        NaN
7         Sazanami  Bangkok Metropolitan Region        NaN
10  Rotee Me Chabu  Bangkok Metropolitan Region        NaN


ลบ missing

In [60]:
bkk_table_dp = bkk_table.dropna()
bkk_table_dp.head()

                            name                    city_name  avg_price
67                   เล็กกุ้งเผา  Bangkok Metropolitan Region      375.0
134                     Cafe Cha  Bangkok Metropolitan Region      175.0
247           Masterpiece clinic  Bangkok Metropolitan Region     1500.0
319  Chaba Nails & Eyelashes Pro  Bangkok Metropolitan Region      375.0
382                Panlee Bakery  Bangkok Metropolitan Region      175.0

 เลือกเฉพาะ column 'avg_price'

In [61]:
bkk_table_dp_avg_price = bkk_table_dp['avg_price']
bkk_table_dp_avg_price

67         375.0
134        175.0
247       1500.0
319        375.0
382        175.0
           ...
246458      50.0
246472    1500.0
246508     375.0
246666     375.0
246721     375.0
Name: avg_price, Length: 3001, dtype: float64

หาค่าเฉลี่ย

In [62]:
bkk_table_dp_avg_price.mean()

392.5854715094968

In [44]:
phuket_table = new_table['city_name']=='Phuket'

แก้ missing method 3 เติมค่าที่เหมาะสมตามกลุ่มของมัน

In [63]:

bkk_table[['avg_price']] = bkk_table[['avg_price']].fillna(bkk_table_dp_avg_price.mean())
bkk_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

              name                    city_name   avg_price
1     Corner House  Bangkok Metropolitan Region  392.585472
3   นันท์คาราโอเกะ  Bangkok Metropolitan Region  392.585472
4      Buono Caffe  Bangkok Metropolitan Region  392.585472
7         Sazanami  Bangkok Metropolitan Region  392.585472
10  Rotee Me Chabu  Bangkok Metropolitan Region  392.585472

#Ex 9 หาราคาเฉลี่ยของร้านในจังหวัดภูเก็ตและเติมแทนค่า missing ของจังหวัดภูเก็ต

In [64]:
pk_table = new_table[new_table['city_name']=='Phuket']
pk_table[['avg_price']] = pk_table[['avg_price']].fillna(new_table[new_table['city_name']=='Phuket'].dropna()['avg_price'].mean())
pk_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                     name city_name   avg_price
53   เดอะฟอร์เต้ไอซ์แลนด์    Phuket  181.481481
74    ร้านอาหารในยางปาร์ค    Phuket  181.481481
91           ใต้ต้นมะม่วง    Phuket   50.000000
96      อาหารเกาหลีชินจอง    Phuket  181.481481
190            ไชน่าอินน์    Phuket  181.481481

In [66]:
ch_table = new_table[new_table['city_name']=='Chon Buri']
ch_table[['avg_price']] = ch_table[['avg_price']].fillna(new_table[new_table['city_name']=='Chon Buri'].dropna()['avg_price'].mean())
ch_table.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

                           name  city_name   avg_price
5                   บ้านมุมสบาย  Chon Buri  283.547619
15  The Rabbit หมูกระทะนานาชาติ  Chon Buri  283.547619
42       ก๋วยเตี๋ยวเป็ด ณ.พัทยา  Chon Buri  283.547619
45  ซันเซ็ทพาร์ครีสอร์ตแอนด์สปา  Chon Buri  283.547619
68          Oldies Bar & Bistro  Chon Buri  283.547619

[PD] ต่อตารางในแนวแกน Y (เพิ่มจำนวน data) pd.concat

In [67]:
pandas.concat([bkk_table,pk_table,ch_table]).isnull().any()

name         False
city_name    False
avg_price    False
dtype: bool

#Looping(concat)

###step 1 ดึงจังหวัดทั้งหมด

In [48]:
all_cities = set(new_table['city_name'])
print(len(all_cities))
all_cities

479

{'Abu Dhabi',
 'Aichi-ken',
 'Akershus',
 'Akita-ken',
 'Al Farwaniyah Governorate',
 'Alabama',
 'Alaska',
 'Alberta',
 'Amnat Charoen',
 'Andalucía',
 'Ang Thong',
 'Aomori-ken',
 'Appenzell Ausserrhoden',
 'Appenzell Innerrhoden',
 'Aragón',
 'Argyll and Bute',
 'Arizona',
 'Attica',
 'Auckland',
 'Australia',
 'Auvergne-Rhône-Alpes',
 'Aydın',
 'Ba Ria - Vung Tau',
 'Baden-Wurttemberg',
 'Bago Region',
 'Bahia',
 'Bali',
 'Balochistan',
 'Bangkok Metropolitan Region',
 'Banteay Meanchey Province',
 'Banten',
 'Basel-Stadt',
 'Basilicata',
 'Basrah',
 'Battambang',
 'Bay Of Plenty',
 'Bayern',
 'Berlin',
 'Bern',
 'Bihar',
 'Binh Thuan',
 'Binh Thuan province',
 'Borno',
 'Bratislava',
 'Bremen',
 'Bretagne',
 'British Columbia',
 'Brussels Hoofdstedelijk Gewest',
 'Buckinghamshire',
 'Budapest',
 'Bueng Kan',
 'Buri Ram',
 'Busan',
 'Buskerud',
 'C2 MALL',
 'CALABARZON',
 'Cairo Governorate',
 'California',
 'Cambodia',
 'Canterbury',
 'Capital Governorate',
 'Capital Region',
 'Capital Region of Denmark',
 'Castilla-La Mancha',
 'Catalonia',
 'Central Development Region',
 'Central Visayas',
 'Centre-Val de Loire',
 'Chachoengsao',
 'Chai Nat',
 'Chaiyaphum',
 'Champasak Province',
 'Changhua County',
 'Chanthaburi',
 'Chiang Mai',
 'Chiang Rai',
 'Chiayi City',
 'Chiayi County',
 'Chiba-ken',
 'China',
 'Chon Buri',
 'Chongqing Shi',
 'Chumphon',
 'Chungcheongnam-do',
 'City of Zagreb',
 'Colorado',
 'Comunidad de Madrid',
 'County Cork',
 'County Dublin',
 'County Galway',
 'County Kerry',
 'Cusco',
 'Daegu',
 'Daejeon',
 'Daerah Brunei-Muara',
 'Daerah Istimewa Yogyakarta',
 'Dar es Salaam',
 'Delhi',
 'Denizli',
 'Departamento de La Paz',
 'Departamento de Potosí',
 'District of Columbia',
 'Dubai',
 'Dubrovačko-neretvanska županija',
 'Ehime-ken',
 'England',
 'Espoo',
 'Federal',
 'Finland',
 'Finnmark',
 'Florida',
 'Fribourg',
 'Fujian Sheng',
 'Fukui-ken',
 'Fukuoka-ken',
 'Fukushima-ken',
 'Gangwon-do',
 'Gelderland',
 'Geneva',
 'George Town',
 'Georgia',
 'Gifu-ken',
 'Gloucestershire',
 'Gombe',
 'Grand Est',
 'Graubünden',
 'Greater London',
 'Greater Manchester',
 'Guangdong Sheng',
 'Guangxi Zhuangzuzizhiqu',
 'Guinea',
 'Gunma-ken',
 'Gyeonggi-do',
 'Gyeongsangbuk-do',
 'Hainan Sheng',
 'Hampshire',
 'Harju maakond',
 'Hauts-de-France',
 'Hawaii',
 'Hessen',
 'Hiiraan',
 'Hiroshima-ken',
 'Hokkaido',
 'Hordaland',
 'Hsinchu City',
 'Hsinchu County',
 'Hua Hin',
 'Hunan',
 'Hyogo-ken',
 'Hà Nội',
 'Höfn í Hornafirði',
 'Hồ Chí Minh',
 'Ibaraki-ken',
 'Iceland',
 'Illinois',
 'Incheon',
 'India',
 'Inner Mongolia',
 'Ireland',
 'Ishikawa-ken',
 'Istanbul',
 'Iwate-ken',
 'Jakarta Capital Region',
 'Jawa Barat',
 'Jawa Timur',
 'Jeju-do',
 'Jeollabuk-do',
 'Jharkhand',
 'Jiangsu Sheng',
 'Jiangxi Sheng',
 'Jihočeský kraj',
 'Johor',
 'Județul Constanța',
 'Kagoshima',
 'Kalasin',
 'Kamphaeng Phet',
 'Kanagawa-ken',
 'Kanchanaburi',
 'Kaohsiung City',
 'Karlovy Vary Region',
 'Karnataka',
 'Kayes',
 'Kedah',
 'Keelung City',
 'Kelantan',
 'Kepulauan Riau',
 'Khammouane Province',
 'Khartoum',
 'Khon Kaen',
 'Khánh Hoà',
 'Kinshasa',
 'Koh Kong Province',
 'Kowloon',
 'Krabi',
 'Kumamoto-ken',
 'Kyoto-fu',
 'København',
 'Lac',
 'Lampang',
 'Lamphun',
 'Lancashire',
 'Lao Cai',
 'Lazio',
 "Leningradskaya oblast'",
 'Liaoning',
 'Liguria',
 'Lima',
 'Limerick',
 'Lisboa',
 'Lithuania',
 'Ličko-senjska županija',
 'Loei',
 'Lombardia',
 'Lopburi',
 'Louisiana',
 'Luang Prabang Province',
 'Luxembourg',
 'Luxor Governorate',
 'Luzern',
 'Lâm Đồng',
 'Macau',
 'Madrid',
 'Magway Region',
 'Maha Sarakham',
 'Maharashtra',
 'Malacca',
 'Maldives',
 'Mandalay Region',
 'Marlborough',
 'Maryland',
 'Masovian Voivodeship',
 'Massachusetts',
 'Mayo',
 'Metro Manila',
 'Michigan',
 'Mid-Western Development Region',
 'Mie-ken',
 'Minnesota',
 'Miyagi-ken',
 'Mon State',
 'Moscow',
 "Moskovskaya oblast'",
 'Mukdahan',
 'Munxar',
 "Murmanskaya oblast'",
 'Nagano-ken',
 'Nagasaki-ken',
 'Nakhon Nayok',
 'Nakhon Phanom',
 'Nakhon Ratchasima',
 'Nakhon Sawan',
 'Nakhon Si Thammarat',
 'Nan',
 'Nantou County',
 'Nara-ken',
 'Narathiwat',
 'Naxos',
 'Negeri Sembilan',
 'Nevada',
 'Nevsehir',
 'New Hampshire',
 'New Jersey',
 'New South Wales',
 'New Taipei City',
 'New Territories',
 'New York',
 'New Zealand',
 'Newfoundland and Labrador',
 'Nghệ An',
 'Niedersachsen',
 'Niederösterreich',
 'Niigata-ken',
 'Nong Bua Lam Phu',
 'Nong Khai',
 'Noord-Holland',
 'Nordrhein-Westfalen',
 'Normandie',
 'North Central Province',
 'Northern Ireland',
 'Northern Territory',
 'Nouvelle-Aquitaine',
 "Novosibirskaya oblast'",
 'Nusa Tenggara Barat',
 'Oaxaca',
 'Oberösterreich',
 'Obwalden',
 'Ohio',
 'Okayama-ken',
 'Okinawa-ken',
 'Oklahoma',
 'Ontario',
 'Oregon',
 'Oslo',
 'Otago',
 'Pahang',
 'Pakistan',
 'Palau',
 'Pardubice Region',
 'Pattani',
 'Penang',
 'Pennsylvania',
 'Perak',
 'Phang-nga',
 'Phatthalung',
 'Phayao',
 'Phetchabun',
 'Phetchaburi',
 'Phichit',
 'Phitsanulok',
 'Phnom Penh',
 'Phra Nakhon Si Ayutthaya',
 'Phrae',
 'Phuket',
 'Piemonte',
 'Plzeň Region',
 'Porto',
 'Postojna',
 'Prachin Buri',
 'Prachuap Khiri Khan',
 'Prague',
 'Preah Sihanouk',
 'Primorskiy kray',
 'Primorsko-goranska županija',
 "Provence-Alpes-Côte d'Azur",
 'Pulau Pinang',
 'Punjab',
 'Qatar',
 'Qinghai Sheng',
 'Quebec',
 'Queensland',
 'Quảng Nam',
 'Quảng Ninh',
 'Ranong',
 'Ratchaburi',
 'Rayong',
 'Region Zealand',
 'Rheinland-Pfalz',
 'Riau',
 'Roi Et',
 'Région de Kidal',
 'Rīgas pilsēta',
 'Sa Kaeo',
 'Sabah',
 'Sachsen-Anhalt',
 'Saga-ken',
 'Saint Petersburg',
 'Sainyabuli Province',
 'Saitama-ken',
 'Sakon Nakhon',
 'Salzburg',
 'Samut Songkhram',
 'Sankt Gallen',
 'Saraburi',
 'Satun',
 'Savannakhet Province',
 'Saxony',
 'Schaffhausen',
 'Scotland',
 'Selangor',
 'Seoul',
 'Setúbal',
 'Shaanxi Sheng',
 'Shan',
 'Shandong Sheng',
 'Shanghai',
 'Shanxi Sheng',
 'Shiga-ken',
 'Shizuoka-ken',
 'Si Sa Ket',
 'Sichuan Sheng',
 'Siem Reap',
 'Sing Buri',
 'Singapore',
 'Slough',
 'South Carolina',
 'Southern Islands',
 'Southland',
 'Splitsko-dalmatinska županija',
 'Stavropolskiy kray',
 'Stockholms län',
 'Sukhothai',
 'Sumatera Utara',
 'Suphan Buri',
 'Surat Thani',
 'Surin',
 'Svay Rieng',
 'Taichung City',
 'Tainan City',
 'Taipei City',
 'Tak',
 'Tamil Nadu',
 'Tanintharyi Region',
 'Taoyuan City',
 'Tasmania',
 'Tehran',
 'Telangana',
 'Texas',
 'Thailand',
 'Thimphu',
 'Thua Thien Hue',
 'Tianjin',
 'Ticino',
 'Tirol',
 'Tochigi-ken',
 'Tokyo-to',
 'Tottori-ken',
 'Toyama-ken',
 'Trabzon',
 'Trang',
 'Trat',
 'Troms',
 'Tuscany',
 'Ubon Ratchathani',
 'Udon Thani',
 'Uri',
 'Utah',
 'Uthai Thani',
 'Utrecht',
 'Uttar Pradesh',
 'Uttaradit',
 'Vaduz',
 'Valais',
 'Valletta',
 'Vantaa',
 'Vaud',
 'Veneto',
 'Victoria',
 'Vientiane Prefecture',
 'Vientiane Province',
 'Virginia',
 'Vlaanderen',
 "Vladimirskaya oblast'",
 'Vorarlberg',
 'Waikato',
 'Wakayama-ken',
 'Wales',
 'Wallonie',
 'Washington',
 'Waterford',
 'West Bengal',
 'West Midlands',
 'West Sussex',
 'Western Australia',
 'Western Cape',
 'Wien',
 'Wilayah Persekutuan Putrajaya',
 'Wisconsin',
 'Województwo podkarpackie',
 'Xinjiang Weiwuerzizhiqu',
 'Xizang (Tibet)',
 'Yala',
 'Yamagata-ken',
 'Yamaguchi-ken',
 'Yamanashi-ken',
 'Yangon',
 'Yasothon',
 'Yilan County',
 'Yunlin County',
 'Yunnan Sheng',
 'Zhejiang',
 'Zuid-Holland',
 'Zurich',
 'kujawsko-pomorskie',
 'lubelskie',
 'małopolskie',
 'pomorskie',
 'tỉnh Kiên Giang',
 'wielkopolskie',
 'Çanakkale',
 'Île-de-France',
 'Điện Biên',
 'Đà Nẵng',
 'İstanbul',
 'İzmir',
 'Ōita-ken',
 'Ōsaka-fu',
 'محافظة المحرق',
 'สงขลา',
 'เขาใหญ่'}

###step 2 คำนวณ mean ของ column 'city_name' เพื่อเก็บไว้เติมใส่เมืองที่เป็น missing ทุกร้าน

In [49]:
all_mean = new_table.dropna(subset=['avg_price'])['avg_price'].mean()
all_mean

327.44728783902013

###สร้าง list ของตารรางของทุกๆจังหวัด

In [50]:
all_cities_list = []
for each_city in all_cities:
  temp_table = new_table[new_table['city_name']==each_city]
  temp_table[['avg_price']] = temp_table[['avg_price']].fillna(new_table[new_table['city_name']==each_city].dropna()['avg_price'].mean())
  all_cities_list.append(temp_table)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [51]:
all_cities_list = []
for each_city in sorted(list(all_cities)): #เปลี่ยนsetเป็นlistเพื่อให้เรียงลำดับ
  temp_table = new_table[new_table['city_name']==each_city]
  temp_table[['avg_price']] = temp_table[['avg_price']].fillna(new_table[new_table['city_name']==each_city].dropna()['avg_price'].mean())
  all_cities_list.append(temp_table)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [52]:
pandas.concat(all_cities_list).fillna(all_mean) #ตอนนี้เป็นแค่ตัวโชว์เฉยๆ ไม่ใช่ตาราง

                                name  city_name   avg_price
56391   Smoking Doll Nation Galleria  Abu Dhabi  327.447288
67914        PRET TO GO (Terminal 1)  Abu Dhabi  327.447288
123536                     Keway Mai  Abu Dhabi  327.447288
142972                    La Brioche  Abu Dhabi  327.447288
223144               White Dot Table  Abu Dhabi  327.447288
...                              ...        ...         ...
246412                   ครัวข้าวสวย    เขาใหญ่  327.447288
246418             ร้านอาหารดาวเดือน    เขาใหญ่  327.447288
246780                        กาแฟสด    เขาใหญ่  327.447288
246791         ยู้ ลูกชิ้นปลาเยาวราช    เขาใหญ่  327.447288
246832                     โชคดีกาแฟ    เขาใหญ่  327.447288

[246847 rows x 3 columns]

In [53]:
no_missing = pandas.concat(all_cities_list).fillna(all_mean) 
no_missing.head()

                                name  city_name   avg_price
56391   Smoking Doll Nation Galleria  Abu Dhabi  327.447288
67914        PRET TO GO (Terminal 1)  Abu Dhabi  327.447288
123536                     Keway Mai  Abu Dhabi  327.447288
142972                    La Brioche  Abu Dhabi  327.447288
223144               White Dot Table  Abu Dhabi  327.447288

In [54]:
london_index_list = no_missing['city_name']=='Greater London' #เรียกมาเฉพาะ london จากตาราง no_missing
no_missing[london_index_list]

                                name       city_name   avg_price
3580                     Greene King  Greater London  327.447288
5402                          Miyama  Greater London  327.447288
6375                          Misato  Greater London  327.447288
7644                 Duck And Waffle  Greater London  327.447288
8343      L'Atelier De Joel Robuchon  Greater London  327.447288
...                              ...             ...         ...
238648                           CnR  Greater London  327.447288
241688                       nando's  Greater London  327.447288
243077                      Cakehole  Greater London  327.447288
243749                  The Refinery  Greater London  327.447288
246443  Park Grand London Kensington  Greater London  327.447288

[166 rows x 3 columns]

In [55]:
london_index_list = no_missing['avg_price']<15 #เช็คว่ามีร้านไหนที่ราคาอาหารเฉลี่ยต่ำกว่า 15 เราจะ assume ว่าเขาใส่หน่วยราคามาเป็นหน่วยอื่นที่ไม่ใช่บาท
no_missing[london_index_list]

                                     name  ... avg_price
18161                          ดรีมเวิลด์  ...       0.0
58579                      รามคลินิกแพทย์  ...       0.0
139618    Klong Lat Mayom floating market  ...       0.0
204196                     โภชนากร หนองมน  ...      11.0
167551  ทรีท็อปแอดเวนเจอร์พาร์ค กาญจนบุรี  ...       4.0

[5 rows x 3 columns]

#Homework 10 ทำ Binnig smooth by mean ค่า 'avg_price' ในตาราง no_missing (bin = 50)

In [70]:
no_missing

                                name  city_name   avg_price
56391   Smoking Doll Nation Galleria  Abu Dhabi  327.447288
67914        PRET TO GO (Terminal 1)  Abu Dhabi  327.447288
123536                     Keway Mai  Abu Dhabi  327.447288
142972                    La Brioche  Abu Dhabi  327.447288
223144               White Dot Table  Abu Dhabi  327.447288
...                              ...        ...         ...
246412                   ครัวข้าวสวย    เขาใหญ่  327.447288
246418             ร้านอาหารดาวเดือน    เขาใหญ่  327.447288
246780                        กาแฟสด    เขาใหญ่  327.447288
246791         ยู้ ลูกชิ้นปลาเยาวราช    เขาใหญ่  327.447288
246832                     โชคดีกาแฟ    เขาใหญ่  327.447288

[246847 rows x 3 columns]

In [84]:
#step 1 : sort
Nomissing_sorted = no_missing.sort_values('avg_price')
Nomissing_sorted

                                            name  ... avg_price
58579                             รามคลินิกแพทย์  ...       0.0
139618           Klong Lat Mayom floating market  ...       0.0
18161                                 ดรีมเวิลด์  ...       0.0
167551         ทรีท็อปแอดเวนเจอร์พาร์ค กาญจนบุรี  ...       4.0
204196                            โภชนากร หนองมน  ...      11.0
...                                          ...  ...       ...
8130                            Dine In The Dark  ...    1500.0
22942                                 BMC CLINIC  ...    1500.0
168720                                    Bo.lan  ...    1500.0
8598    หมอศรัณย์ (คลินิกศัลยกรรมนายแพทย์ศรัณย์)  ...    1500.0
100459             Paichaoclinic ไป๋เฉ่าสหคลินิก  ...    1500.0

[246847 rows x 3 columns]

In [85]:
#step 2 :แบ่งเป็น 50 ส่วน
Nomissing_sorted.iloc[::50]

                                  name                    city_name  avg_price
58579                   รามคลินิกแพทย์  Bangkok Metropolitan Region        0.0
117977                    นายหมงหอยทอด  Bangkok Metropolitan Region       50.0
85598                       ครัวแดนใต้                        Krabi       50.0
243699                     หอยทอดชาวเล  Bangkok Metropolitan Region       50.0
79116                  Roengjit Phuket                       Phuket       50.0
...                                ...                          ...        ...
119230                Bulgogi Brothers  Bangkok Metropolitan Region      750.0
179198                    พรเกษมคลินิก                    Chon Buri      750.0
20927                            Utage  Bangkok Metropolitan Region     1500.0
202349  Atrium at The Landmark Bangkok  Bangkok Metropolitan Region     1500.0
43590                 The Olympic Club  Bangkok Metropolitan Region     1500.0

[4937 rows x 3 columns]

In [87]:
2937/50

58.74

In [ ]:
for i in range(1,51):
  B(i) = Nomissing_sorted.iloc[0:50]