<a href="https://colab.research.google.com/github/K-Kamonrat/DPDM/blob/master/rice%26water.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
from google.colab import drive

In [4]:
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import os
path =  '/content/drive/My Drive/DPDM_Project'

In [6]:
water = os.path.join(path, 'water.csv')

In [8]:
water_df = pd.read_csv(water)
water_df

          ID           ตำบล  ... พิกัด (Y) N ปีงบประมาณ
0          1       เกาะกลาง  ...      858758       2559
1          2       เกาะกลาง  ...      861539       2559
2          3  เกาะลันตาน้อย  ...      840391       2559
3          4  เกาะลันตาน้อย  ...      842817       2559
4          5  เกาะลันตาน้อย  ...      842706       2559
...      ...            ...  ...         ...        ...
14426  14427  เหล่าเสือโก้ก  ...     1709650       2559
14427  14428  เหล่าเสือโก้ก  ...     1709614       2559
14428  14429  เหล่าเสือโก้ก  ...     1708384       2559
14429  14430  เหล่าเสือโก้ก  ...     1710891       2559
14430  14431  เหล่าเสือโก้ก  ...     1706009       2559

[14431 rows x 7 columns]

In [31]:
#water_province =  water_df.groupby('จังหวัด').count()
#water_province

In [32]:
water_province = water_df.groupby('จังหวัด')['พิกัด (X) E'].apply(list) #reduced_marketbasket_df = data
water_province

จังหวัด
กระบี่             [505670, 506333, 513081, 512434, 512451, 50900...
กาญจนบุรี          [576560, 576436, 577200, 576421, 577564, 57541...
กาฬสินธุ์          [994781, 994743, 998744, 999044, 994711, 99454...
กำแพงเพชร          [584110, 583974, 580442, 578640, 580537, 58403...
ขอนแก่น            [941894, 944689, 942653, 943287, 943763, 94465...
จันทบุรี           [806772, 806053, 806806, 803810, 840014, 85796...
ฉะเชิงเทรา         [732420, 731641, 731635, 731008, 730164, 73205...
ชลบุรี             [757246, 773766, 758937, 770962, 758795, 76725...
ชัยนาท             [596232, 598104, 597668, 598408, 597619, 59754...
ชัยภูมิ            [811697, 813512, 809210, 814292, 810713, 80676...
ชุมพร              [517313, 523269, 523801, 515842, 512929, 51484...
ตรัง               [553590, 557012, 553673, 553768, 546026, 56398...
ตราด               [876270, 876358, 864518, 867496, 876428, 87927...
ตาก                [501128, 502008, 501438, 502763, 502713, 50166...
นครพนม                                            [1055081, 1056396]
นครราชสีมา         [817498, 810369, 816244, 811983, 814521, 81312...
นครสวรรค์          [643801, 634122, 631827, 632447, 633220, 63354...
นราธิวาส           [834269, 834715, 840571, 795100, 794910, 79540...
น่าน               [680816, 684863, 683985, 683821, 683578, 69308...
บึงกาฬ             [1026967, 1026147, 1027284, 1026834, 1024400, ...
บุรีรัมย์          [959697, 959918, 965400, 954022, 951218, 95438...
ประจวบคีรีขันธ์    [594634, 594634, 594634, 561874, 570945, 57106...
ปัตตานี            [731574, 731602, 772487, 772390, 772041, 77311...
พะเยา              [624593, 625195, 621308, 621042, 626618, 62608...
พังงา              [440171, 436587, 430506, 430251, 424923, 42964...
พิจิตร             [668083, 666972, 665843, 666963, 669201, 67134...
พิษณุโลก           [703045, 676392, 678215, 678653, 679948, 67341...
มหาสารคาม          [947300, 945759, 945619, 944035, 947790, 94336...
มุกดาหาร           [1081006, 1075334, 1067134, 1068098, 1076460, ...
ยะลา               [752436, 749715, 752966, 752267, 747634, 74750...
ยโสธร              [1072850, 1076871, 1073169, 1077793, 1074008, ...
ระยอง              [786579, 781625, 781585, 799739, 799747, 73890...
ราชบุรี            [548441, 549517, 554418, 548460, 554304, 54857...
ลพบุรี             [681178, 681936, 678850, 683110, 684664, 68452...
ลำปาง              [519055, 519318, 519236, 519339, 520175, 51818...
ลำพูน              [469540, 470311, 470035, 469945, 470732, 46672...
ศรีสะเกษ           [1119661, 1119597, 1119592, 1119765, 1118598, ...
สกลนคร             [1013679, 1015055, 1076747, 1069000, 1069343, ...
สงขลา              [660331, 660113, 658276, 658332, 658229, 66171...
สระบุรี            [717143, 721083, 717120, 720493, 720804, 72046...
สระแก้ว            [824510, 820805, 815463, 823008, 818283, 81947...
สุพรรณบุรี         [606202, 606034, 606135, 605967, 625457, 62567...
สุโขทัย            [548423, 546391, 552846, 540530, 551841, 55295...
หนองคาย            [872342, 874588, 874518, 873910, 875897, 87586...
หนองบัวลำภู        [845119, 844197, 851903, 848046, 845649, 84767...
อำนาจเจริญ         [1108696, 1101395, 1083768, 1109041, 1108028, ...
อุดรธานี           [865085, 869633, 866474, 866563, 868554, 86907...
อุทัยธานี          [579495, 599406, 583004, 583036, 584610, 58791...
อุบลราชธานี        [1145767, 1129279, 1128239, 1150540, 1141908, ...
เชียงราย           [623109, 623111, 624386, 622620, 622266, 61898...
เชียงใหม่          [487927, 498333, 496928, 496721, 495460, 49615...
เพชรบุรี           [577024, 586713, 585160, 583800, 585169, 58506...
เพชรบูรณ์          [683437, 684148, 684247, 682635, 681634, 68338...
เลย                [795212, 793422, 791834, 794884, 794037, 79491...
แพร่               [638140, 637008, 639302, 637010, 637629, 63771...
Name: พิกัด (X) E, dtype: object

In [34]:
len(water_province)

55

In [ ]:
for i in len(water_province):